/********** Common Styling **********/

.MainHeading {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 40px;
  color: #181c1c;
  text-align: center;
}

/********** Styling for DreamSmiles components **********/

.dreamSmiles {
  background-color: #f0f9ff;
  padding: 100px 200px;
  display: flex;
  gap: 40px;
}

.dreamSmilesLeft {
  width: 50%;
}

.dreamSmilesLeft h2 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #181c1c;
  margin-bottom: 40px;
}

.dreamSmilesLeft p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}

.dreamSmilesRight {
  width: 50%;
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: Instrument Sans;
}

.productInfo > h5 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 28px;
  line-height: 130%;
  color: #2f3737;
}

.productInfo > p {
  font-weight: 400;
  font-size: 16px;
}

.productInfo > p span:first-child {
  text-decoration: line-through;
  line-height: 24px;
}

.productInfo > p span:nth-child(3) label:first-child,
.productInfo > p span:nth-child(3) label:last-child {
  line-height: 32px;
  vertical-align: middle;
}

.productInfo > p span:nth-child(3) label:last-child {
  color: #8f62d4;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0%;
  margin-left: 8px;
}

.productInfo > p span:last-child {
  font-size: 14px;
  line-height: 20px;
  color: #768989;
}

.productInfo > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productInfo > div > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.productInfo > div img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.productInfo > div span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #181c1c;
}

.productImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-family: Instrument Sans;
}

.productImg > img {
  width: 100%;
}

.productImg > a {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #8f62d4;
}

/********** Styling for Results components **********/

.Results {
  padding: 72px 100px;
}

.ResultsHeading {
  margin-bottom: 48px;
}

.ResultsCards {
  display: flex;
  gap: 24px;
  font-family: Instrument Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2f3737;
}

.ResultsCard {
  display: flex;
  flex-direction: column;
  background-color: #f0f9ff;
  border-radius: 8px;
  padding: 8px 8px 16px 8px;
  gap: 16px;
}

.ResultCardsImg {
  display: flex;
  gap: 5px;
}

.ResultCardsImg > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.ResultCardsImg > div > img {
  width: 100%;
}

.ResultCardsInfo {
  padding: 0 8px;
  color: #000;
}

.ResultCardsInfo > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #c8d0d0;
}

.ResultCardsInfo > div:last-child {
  padding-bottom: 0;
}

/********** Styling for WhyWhistle components **********/

.WhyWhistle {
  padding: 56px 100px;
}

.WhyWhistleHeading {
  margin-bottom: 40px;
}

.WhyWhistleCards {
  display: flex;
  gap: 24px;
  font-family: Instrument Sans;
}

.WhyWhistleCard {
  border-radius: 16px;
  background-color: #f0f9ff;
}

.WhyWhistleCard img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.WhyWhistleCard > div {
  padding: 15px 16px;
}

.WhyWhistleCard > div h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 4px;
}

.WhyWhistleCard > div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2f3737;
}
